<%- include("partials/header"); -%>

<h2>Welcome, <%= name %>!</h2>

<div class="container">
  <h3>Spread your creativity.</h3>
  <p class="account-text">Sell your prints.</p>

  <form class="row g-3 justify-content-md-center add-photos" action="/upload" method="POST" enctype="multipart/form-data">
    <div class="col-auto">
      <input class="form-control" type="file" name="myImages" id="formFile" multiple>
    </div>
    <div class="col-auto">
      <input type="submit" name="upload" value="Upload Photos" class="btn btn-primary mb-3">
    </div>
  </form>
  <hr>

  <div class="row row-cols-3 justify-content-md-center">
    <% images.forEach(function(image){ %>
      <div class="col-md-auto">
        <div class="card shadow mb-3" style="width: 20rem; height: auto;">
          <img src="data:<%= image.contentType %>;base64,<%= image.imageBase64 %>" alt="image">
          <div class="card-body">
            <h5 class="card-title">Photo title</h5>
            <p class="card-text">Photo description</p>
          </div>
          <form action="/delete" method="POST">
            <div class="d-flex justify-content-between align-items-center">
              <button class=" btn btn-sm btn-outline-secondary border-0" type="submit" ><i class="fas fa-edit"></i></button>
              <button class="btn btn-sm btn-outline-secondary border-0" type="submit" name="image" value="<%= image._id %>" onClick="this.form.submit()"><i class="fas fa-trash-alt"></i></button>
            </div>
          </form>
        </div>
      </div>
    <% }) %>
  </div>
</div>

<%- include("partials/footer"); -%>
