<%- include("partials/header"); -%>

<h2 class="center">Welcome, <%= name %>!</h2>

<div class="container">
  <h3 class="center">Spread your creativity.</h3>
  <p class="center account-text">Sell your prints.</p>

  <form class="row g-3 justify-content-md-center add-photos" action="/upload" method="POST" enctype="multipart/form-data">
    <div class="col-auto">
      <input class="form-control" type="file" name="myImages" id="formFile" multiple>
    </div>
    <div class="col-auto">
      <input type="submit" name="upload" value="Upload Photos" class="btn btn-primary mb-3">
    </div>
  </form>
  <hr>

  <div class="row row-cols-3 justify-content-md-center">
    <% images.forEach(function(image){ %>
      <div class="col-md-auto">
        <div class="card shadow mb-3" style="width: 20rem; height: auto;">
          <img src="data:<%= image.contentType %>;base64,<%= image.imageBase64 %>" alt="image">
          <div class="card-body">
            <h5 class="card-title"><%= image.title %></h5>
            <p class="card-text"><%= image.description %> ▪️ <%= image.photographer %> ▪️ <%= image.price %>$</p>
          </div>
          <div class="row">
            <form class="col" action="/edit" method="POST">
              <button class=" btn btn-sm btn-outline-secondary border-0 float-start" type="submit" name="imgEdit" value="<%= image._id %>" onClick="this.form.submit()"><i class="fas fa-edit"></i></button>
            </form>
            <form class="col" action="/delete" method="POST">
              <button class="btn btn-sm btn-outline-secondary border-0 float-end" type="submit" name="image" value="<%= image._id %>" onClick="this.form.submit()"><i class="fas fa-trash-alt"></i></button>
            </form>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>

<%- include("partials/footer"); -%>
