<%- include('partials/header') %>

<section class="mt-3 text-center container">
  <div class="row mb-3">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="feature-col fw-light">Book Shop</h1>
      <p class="lead fw-bold text-muted app-goal">Have you accumulated a lot of books over the years that you don't need? Why not get rid of them?</p>
      <p class="lead text-muted app-goal">Book Shop is here to help you sell a second hand books!</p>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <h3 class="center small-heading"><i class="icon fas fa-user-circle fa-2x"></i><br>Create an account</h3>
    </div>
    <div class="col">
      <h3 class="center small-heading"><i class="icon fas fa-images fa-2x"></i><br>Upload your items</h3>
    </div>
    <div class="col">
      <h3 class="center small-heading"><i class="icon fas fa-hand-holding-usd fa-2x"></i><br>Set your price</h3>
    </div>
  </div>
</section>

<div class="container">
  <hr>
  <div class="row row-cols-3 justify-content-md-center">
    <% images.forEach(function(image){ %>
      <div class="col-md-auto">
        <div class="card shadow mb-3" style="width: 15rem; height: auto;">
          <img src="data:<%= image.contentType %>;base64,<%= image.imageBase64 %>" class="card-img-top img-fluid" alt="image">
          <div class="card-body">
            <h5 class="card-title"><%= image.title %></h5>
            <p class="card-text"><%= image.genre %> ▪️ <%= image.author %> ▪️ <%= image.price %>$</p>
          </div>

          <div class="row">
            <form class="col" action="/view" method="POST">
              <button class=" btn btn-sm btn-outline-secondary border-0 float-start" type="submit" name="itemView" value="<%= image._id %>" onClick="this.form.submit()"><i class="fas fa-search-plus"></i></button>
            </form>
            <form class="col" action="/buy" method="POST">
              <button class="btn btn-sm btn-outline-secondary border-0 float-end" type="submit" name="itemBuy" value="<%= image._id %>" onClick="this.form.submit()"><i class="fas fa-cart-plus"></i></button>
            </form>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>

<%- include('partials/footer') %>
